$text-color:#e75b1e;
*{box-sizing: border-box;}
@media (min-width:786px){
    .container{
        width: 720px;
    }
}
@media (min-width:992px){
    .container{
        width: 960px;
    }
}
@keyframes in{
    from{
        background-color: transparent;
    }
    to{
        background-color: $text-color;
    }
}
@keyframes out{
    from{
        background-color: $text-color;
    }
    to{
        background-color: transparent;
    }
}
body{
    font-size: 16pt;
    margin: 0;
    font-family: 'Lobster', cursive;
}
nav {
    width: 100%;
    height: 60px;
    background-color: #202020;
    display: flex;
    justify-content: space-around;
    .container{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        h1{
            color: $text-color;
            margin: 0;
        }
        ul{
            margin: 0;
            list-style: none;
            display: flex;
            li{
                margin: 8px;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
@media(max-width:768px) {
    nav .container{
        ul{
            display: none;
        }
        justify-content: space-around;
    }
}
.home{
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .text{
        width: 100%;
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h2{
            color: $text-color;
            font-size: 50pt;
            margin-bottom: 6px ;
        }
        button{
            &:hover{
                animation: out 1s;
                animation-fill-mode: forwards;
            }
            a{
                text-decoration: none;
                color: #fff;
                font-size: 20pt;
                font-weight: bold;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            animation: in 1s;
            animation-fill-mode: forwards;
            border: 3px solid $text-color;
            background-color: transparent;
            width: 20%;
            height: 70px;
            border-radius: 5px;
        }
    }
}
@media(max-width:768px){
    .home .text{
        h2{
            font-size: 25pt;
        }
        button a{
            font-size: 10pt;
            height: 50px;
        }
    }
}
